<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ana Sayfa</title>
</head>
<body>
<!--    <h3>İlk Web Sayfası</h3>-->
<!--    Sayı1 : {{ number}} <br>-->
<!--    Sayı2 : {{ number2}}-->
<!--    {% if message %}-->
<!--        <p>{{message }}</p>-->
<!--    {% else %}-->
<!--        <p>Mesaj gönderilmedi...</p>-->
<!--    {% endif %}-->
<!--    <ul>-->
<!--    {% for number in numbers %}-->
<!--        <p>{{number}}</p>-->
<!--    {% endfor %}-->
<!--    </ul>-->
    <form action ="/toplam" method="post">
        <input type="number" name="number1"><br>
        <input type="number" name="number2"><br>
        <button type="submit" > Gönder</button>

    </form>
</body>
</html>